body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 400px 500px;
    background-image: url(https://img.etimg.com/thumb/width-640,height-480,imgsize-67262,resizemode-75,msid-92073673/magazines/panache/after-25-years-beloved-japanese-manga-one-piece-heads-into-final-chapter/one-piece.jpg);
}