body{
    background-image: url("https://cdn.mos.cms.futurecdn.net/ASHH5bDmsp6wnK6mEfZdcU-1200-80.jpg");
   background-size: 300px 300px;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: 100% 0;
}