.content1{
   background-color: aqua; 
   width: 200px;
   height: 200px;
}
.content2{
    background-color: aqua; 
    width: 200px;
    height: 200px;
    border: 20px;
 }
 .content3{
    background-color: aqua; 
    width: 200px;
    height: 200px;
    border: 20px black solid;
    padding: 20px;
 }
 .content4{
    background-color: aqua; 
    width: 200px;
    height: 200px;
    border: 20px black solid;
    padding: 20px;
    margin: 20px;
 }
 .container{
    display: flex;
    justify-content: space-around;
   margin: 200px;
 }