body{
    background-color: aqua;
    
}

table,td,th{
    border: 2px solid;
    border-color: transparent;
    border-collapse: collapse;
    
}
table{
    height: 40vh;
    width: 70vw;
    padding: 1px;
    margin: 200px;
}
button{
    background-color: aqua;
    color: white;
    border-radius: 5px;
    padding: 2px;
}
.content1{
    background-color: rgba(28, 27, 27, 0.84);
}
.content2{
    background-color: rgba(55, 51, 66, 0.861);
}
td,th{
    color: white;
    justify-content: center;
    text-align: center;
}