
  



  

  table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  th {
    border: 1px solid #999;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
  }

  
  tr {
    opacity: 0.7; 
    transition: opacity 0.3s ease; 
  }

  
  tr:hover {
    opacity: 0.8; 
  }

  
  td {
    border: 1px solid #999;
    padding: 10px;
    text-align: center;
  }

  td:first-child {
    text-align: left;
  }
