.content1{
    background-color: blueviolet;
    height: 200px;
    width: 200px;
    border: 4px solid black;
    margin: 6px;
}
img{
    height: 200px;
    width: 200px;
}
.content2{
   
    height: 200px;
    width: 200px;
    border: 4px solid black;
    margin: 6px
}
.content3{
    background-color:crimson;
    height: 200px;
    width: 200px;
    border: 4px solid black;
    margin: 6px;
}
.content1:hover{
    transform:rotateX(150deg) rotateY(300deg);
    transition-duration: 5s;
}
.content3:hover{
    transform: scale(2,2);
    transition-duration: 5s infinite;
   
}
.content2:hover{
    
    transform:rotateX(180deg) rotateY(360deg);
    transition-duration: 5s;
}
p:hover{
    transform: translate(30px,20px);
}
